@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap");
h1 {
  font-family: "chakra petch", serif;
  text-align: center;
}
P {
  font-family: "chakra petch";
  text-align: justify;
  font-size: 17px;
}
h2 {
  font-family: "chakra petch";
  text-align: center;
}
li {
  font-family: "chakra petch";
  font-size: 17px;
}
ul {
}
